{% extends 'base.html' %}
{% block title %}Edit Donation Item{% endblock %}
{% block content %}
<div class="container">
    <a href="/donation_places">← Back To Places</a>
    <form method="POST" action="/{{place.id}}/edit" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Edit {{ place.title }}</legend>

            {{ form.title.label }}
            {{ form.title }}
            <ul>
            {% for error in form.title.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
            
            {{ form.address.label }}
            {{ form.address }}
            <ul>
            {% for error in form.address.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
            
            {{ form.item_types.label }}
            <p></p>
            {% for subfield in form.item_types %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}

            <ul>
            {% for error in form.item_types.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>

            {{ form.description.label }}
            {{ form.description }}
            <ul>
            {% for error in form.description.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>

            {{ form.photos.label }}
            {{ form.photos }}
            <ul>
            {% for error in form.photos.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
                
            {{ form.submit }}
        </fieldset>
    </form>
</div>
{% endblock %}