{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">{{ user.username }}'s Profile</h1>
        <a href="/items/{{ user.username }}" class="btn btn-primary my-4">View Donation Items</a>

        {% if user.favorite_places | length > 0 %}
            <p>{{ user.username }}'s Favorite Donation Places</p>
            <ul>
                {% for place in user.favorite_places %}
                    <li>
                        <a href="/view_donation_place/{{ place.id }}">{{ place.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ user.username }} has no favorite donation places yet!</p>
            {% if user == current_user %}
                <a href="/donation_places">Find Some New Favorite Places!</a>
            {% endif %} 
        {% endif %}

    </div>
{% endblock %}